numpy
matplotlib==3.10.7
scipy
scikit-learn
ipykernel
pandas
nb_mypy
plotly
jupyterlab_mathjax2
seaborn

ipywidgets
qiskit
qiskit-aer
pillow
pylatexenc
notebook

ipympl 
pythreejs 
widgetsnbextension
